 /* RESET  */
 * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
 }

  /* REGOLE GENERALI  */
body {
      font-family: 'Roboto', sans-serif;
}

/* HEADER  */
.boh {
      position: fixed;
      right: 0;
      top: 0;
      z-index: 2;
      margin: 5px;
}

.boh span{
      background-color: #4a4a4a;
      padding: 5px;
      color: white;
      font-size: 0.6em;
      margin-left: 5px;
}


/* MAIN  */
main {
      background-color: black;
      overflow: auto;
}

.container {
      max-width: 90vw;
      height: 100vh;
      margin: 0 auto;
      padding: 70px 0 90px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
}

.card {
      width: 180px;
      height: 100px;
      margin: 2px;
      display: flex;
}

.img-box {
      width: 100%;
      background-image: url("../img/img.jpg");
      background-size: cover;
      background-position: center;
      display: flex;
      align-items: flex-end;
}

.box-name {
      color: white;
      background-color: rgba(0, 0, 0, 0.3);
      padding: 5px;
      font-size: 0.8em;
}

/* FOOTER  */
footer {
      position: fixed;
      z-index: 2;
      left: 0;
      bottom: 0;
      background-color: #222;     
      width: 100%;
}

.footer-bar {
      display: flex;
      justify-content: space-between;
}

.footer-left, .footer-center, .footer-right {
      display: flex;
}

.footer-left a, .footer-center a {
      color: white;
      text-decoration: none;
      text-align: center;
      padding: 0 5px;
}

a > div {
      padding-bottom: 8px;
      font-size: 0.8em;
}

a > i {
      font-size: 25px;
      padding: 8px;
}

.arrow {
      line-height: 63px;
      color: white;
      padding: 0 8px;
}

#share {
      color: rgb(13, 205, 13);
}

.footer-right {
      text-decoration: none;
      line-height: 63px;
      padding: 0 30px;
      background-color: #4a4a4a;
}

.footer-right a {
      text-decoration: none;
}

.end {
      color: red;
}